# Runtime requirements
--requirement requirements.txt

# Documentation
Sphinx==3.1.1
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-plantuml==0.18

waitress==1.4.4
pyramid_debugtoolbar==4.6.1

#testing
pytest==5.4.3
pytest-cov==2.10.0
webtest==2.0.35
httpretty==1.0.3
coveralls==2.0.0

# Wheel
wheel==0.31.1
